<h1>Word: <%= @word.word %></h1>

<h4>Enter a definition and click 'Add Definition' to add it to your list of definitions:</h4>


<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <input name="definition" id="definition" class="form-control"
    type="text">
  </div>
  <h5><%= @blank_definition_error %></h5>
  <button type="submit" class="btn">Add Definition!</button>
</form>

<h4><a href="/">Return Home!</a></h4>
